body{
    margin: 0;
    display: flex;
    font-family: sans-serif;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: url("https://images.unsplash.com/photo-1490682143684-14369e18dce8?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
}
h1{
    text-align: center;
    letter-spacing: 4px;
    font-size: 20px;
}
.dclock{
    display: flex;
}
.dclock div{
    margin: 5px;
    position: relative;
}
.dclock span{
    width: 100px;
    height: 80px;
    background-color:rgb(245, 144, 66);
    opacity: .8;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.3);
}
.dclock .text{
    height: 30px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    background-color: rgb(250, 119, 17);
    opacity: .8;
}
.dclock #ampm{
    position: absolute;
    bottom: 0;
    width: 60px;
    height: 30px;
    font-size: 14px;
    background-color: rgb(250, 119, 17);
    opacity: .8;    
    letter-spacing: 2px;
}